---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: ekco
  namespace: kurl
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: ekco-cluster
rules:
  - apiGroups: [""]
    resources:
      - nodes
    verbs:
      - get
      - list
      - delete
  - apiGroups: [""]
    resources:
      - pods
      - pods/log
      - configmaps
      - secrets
    verbs:
      - get
      - list
      - delete
      - create
      - update
      - deletecollection
  - apiGroups: ["apps"]
    resources:
      - daemonsets
    verbs:
      - get
      - patch
  - apiGroups: [""]
    resources:
      - namespaces
    verbs:
      - get
      - list
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: ekco-cluster
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: ekco-cluster
subjects:
  - kind: ServiceAccount
    name: ekco
    namespace: kurl
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: ekco-kube-system
rules:
  - apiGroups: [""]
    resources:
      - configmaps
    verbs:
      - get
      - update
  - apiGroups: [""]
    resources:
      - pods/exec
    verbs:
      - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: ekco-kube-system
  namespace: kube-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: ekco-kube-system
subjects:
  - kind: ServiceAccount
    name: ekco
    namespace: kurl
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: ekco-rook-ceph
rules:
  - apiGroups: [""]
    resources:
      - configmaps
    verbs:
      - get
      - patch
  - apiGroups: [""]
    resources:
      - pods
    verbs:
      - list
  - apiGroups: [""]
    resources:
      - pods/exec
    verbs:
      - create
  - apiGroups: ["apps"]
    resources:
      - deployments
    verbs:
      - list
      - delete
  - apiGroups: ["ceph.rook.io"]
    resources:
      - cephclusters
      - cephblockpools
      - cephfilesystems
      - cephobjectstores
    verbs:
      - get
      - update
      - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: ekco-rook-ceph
  namespace: rook-ceph
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: ekco-rook-ceph
subjects:
  - kind: ServiceAccount
    name: ekco
    namespace: kurl
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: ekco-minio
rules:
  - apiGroups: [""]
    resources:
      - services
      - pods
    verbs:
      - list
      - get
      - create
  - apiGroups: [""]
    resources:
      - pods/exec
    verbs:
      - create
  - apiGroups: ["apps"]
    resources:
      - deployments
      - statefulsets
      - statefulsets/scale
    verbs:
      - list
      - delete
      - get
      - update
      - create
  - apiGroups: ["batch"]
    resources:
      - jobs
    verbs:
      - delete
      - get
      - create
  - apiGroups: [""]
    resources:
      - persistentvolumeclaims
    verbs:
      - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: ekco-minio
  namespace: minio
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: ekco-minio
subjects:
  - kind: ServiceAccount
    name: ekco
    namespace: kurl
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: ekco-kotsadm
rules:
  - apiGroups: ["apps"]
    resources:
      - deployments
      - statefulsets
    verbs:
      - list
      - delete
      - get
      - update
      - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: ekco-kotsadm
  namespace: default
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: ekco-kotsadm
subjects:
  - kind: ServiceAccount
    name: ekco
    namespace: kurl
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: ekco-pvmigrate
rules:
  - apiGroups: [""]
    resources:
      - persistentvolumeclaims
      - persistentvolumes
    verbs:
      - get
      - list
      - create
      - update
      - delete
  - apiGroups: ["storage"]
    resources:
      - storageclasses
    verbs:
      - get
      - list
      - create
      - update
      - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: ekco-pvmigrate
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: ekco-pvmigrate
subjects:
  - kind: ServiceAccount
    name: ekco
    namespace: kurl
