---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: ekco
  namespace: kurl
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: ekco-cluster
rules:
  - apiGroups: [""]
    resources:
      - nodes
    verbs:
      - get
      - list
      - delete
  - apiGroups: [""]
    resources:
      - pods
      - pods/log
      - configmaps
      - secrets
    verbs:
      - get
      - list
      - delete
      - create
      - update
      - deletecollection
  - apiGroups: ["apps"]
    resources:
      - daemonsets
    verbs:
      - get
      - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: ekco-cluster
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: ekco-cluster
subjects:
  - kind: ServiceAccount
    name: ekco
    namespace: kurl
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: ekco-kube-system
rules:
  - apiGroups: [""]
    resources:
      - configmaps
    verbs:
      - get
      - update
  - apiGroups: [""]
    resources:
      - pods/exec
    verbs:
      - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: ekco-kube-system
  namespace: kube-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: ekco-kube-system
subjects:
  - kind: ServiceAccount
    name: ekco
    namespace: kurl
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: ekco-rook-ceph
rules:
  - apiGroups: [""]
    resources:
      - pods
    verbs:
      - list
  - apiGroups: [""]
    resources:
      - pods/exec
    verbs:
      - create
  - apiGroups: ["apps"]
    resources:
      - deployments
    verbs:
      - list
      - delete
  - apiGroups: ["ceph.rook.io"]
    resources:
      - cephclusters
      - cephblockpools
      - cephfilesystems
      - cephobjectstores
    verbs:
      - get
      - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: ekco-rook-ceph
  namespace: rook-ceph
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: ekco-rook-ceph
subjects:
  - kind: ServiceAccount
    name: ekco
    namespace: kurl
