name: alpha

on:
  push:
    branches:
      - main

jobs:

  release:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - run: make docker-image DOCKER_IMAGE=replicated/ekco:alpha
      - run: docker push replicated/ekco:alpha
